//
//
//
//
@import "layout.scss";
@import "variables.scss";

.project-container {
  margin-top: 2rem;
}

.project-item {
  display: flex;
  flex-direction: column-reverse;

  @include viewportLargerThan($breakpoint-l) {
    flex-direction: row;
  }

  // reset the default link style
  color: $color-primary-darkest;
  background: none;
  transition-property: color opacity;

  margin-bottom: $spacing-m;

  &:hover {
    color: $color-accent;
    .project-item__description .caption {
      border-color: $color-accent;
    }
  }
  &:active,
  &:focus {
    color: $color-accent;
    transform: scale(0.99);
  }

  .project-item__description {
    flex: 1 1 25rem;
    max-height: 15rem;

    display: flex;
    flex-direction: column;

    margin-right: $spacing-m; // gutter size

    h2 {
      // border-top: $horizontal-sperator;
      padding-top: $spacing-s;
      @include viewportLargerThan($breakpoint-l) {
        margin-top: 0rem;
      }

      margin-bottom: 0;
    }
    p {
      margin-top: 0rem;
      margin-bottom: $spacing-s;
    }
    .caption {
      margin-top: 2rem;
      margin-bottom: 1rem;

      padding-top: 0.5rem;
      max-width: 50%;
      border-top: $horizontal-sperator;
    }
  }
  .project-item__image {
    display: block;
    width: 100%;

    // the image height only scale with the viewport on larger screens
    // to prevent it from getting to squished on mobile
    // @include viewportLargerThan($breakpoint-l) {
    // height: 28vw;
    // }
    overflow: hidden;

    // the actual image inside the image wrapper
    img {
      // fit the whole parent container
      width: 100%;
      // height: 100%;
      object-fit: cover;

      transform: scale(1);
      filter: grayscale(1);

      // for the animation
      transition-property: transform, filter;
      transition-timing-function: $easing--ease-out-expo; // ease out expo
      transition-duration: 500ms;
      will-change: transform, filter;
    }
  }
}

.project-item:hover {
  .project-item__image img {
    transform: scale(1.1);
    filter: grayscale(0);
  }
}
